.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.roundimg {
    border-radius: 5px 5px 0 0;
}

.cardcontainer {
    padding: 2px 16px;
}

.css-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
    width: 80%;
}
.css-input:focus {
    outline:none;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    margin-top: 2em;
    display:inline;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    
}

.btn2 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 40px;
    padding: 0px 10px 0px 10px;
    margin-top: 1em;
    text-decoration: none;
}

.btn2:hover {
    background: #fc3c63;
    background-image: -webkit-linear-gradient(top, #fc3c63, #d934b8);
    background-image: -moz-linear-gradient(top, #fc3c63, #d934b8);
    background-image: -ms-linear-gradient(top, #fc3c63, #d934b8);
    background-image: -o-linear-gradient(top, #fc3c63, #d934b8);
    background-image: linear-gradient(to bottom, #fc3c63, #d934b8);
    text-decoration: none;
}

.btn3 {
    background: #6f1dc1;
    background-image: -webkit-linear-gradient(top, #6f1dc1, #6f1dc1);
    background-image: -moz-linear-gradient(top, #6f1dc1, #6f1dc1);
    background-image: -ms-linear-gradient(top, #6f1dc1, #6f1dc1);
    background-image: -o-linear-gradient(top, #6f1dc1, #6f1dc1);
    background-image: linear-gradient(to bottom, #6f1dc1, #6f1dc1);
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    width: 100%;
}

div.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.divTable.greyGridTable .divTableCell, .divTable.greyGridTable .divTableHead {
    border: 1px solid #DBDBDB;
    padding: 3px 4px;
    margin-bottom: 20px;
}
.divTable.greyGridTable .divTableBody .divTableCell {
    font-size: 17px;
    color: #636363;
}
.divTable.greyGridTable .divTableRow:nth-child(even) {
    background: #C7C7C7;
}
.divTable.greyGridTable .divTableHeading {
    background: #FFFFFF;
    border-bottom: 3px solid #DBDBDB;
}
.divTable.greyGridTable .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
    color: #636363;
    text-align: center;
    border-left: 2px solid #DBDBDB;
}
.divTable.greyGridTable .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.greyGridTable .tableFootStyle {
    font-size: 17px;
    font-weight: bold;
    color: #636363;
    border-top: 4px solid #DBDBDB;
}
.greyGridTable .tableFootStyle {
    font-size: 17px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.center_container {
    text-align:center;
    margin: 0px 20px 0px 20px;
}

